$mobile-width: 1024px;

.small-media-hide {
  @media (max-width: $mobile-width) {
    display: none !important;
  }
}

.small-media-show {
  @media (max-width: $mobile-width) {
    display: block !important;
  }
}

.big-screen-hide {
  @media (min-width: $mobile-width) {
    display: none !important;
  }
}

.media_text-align {
  @media (max-width: $mobile-width) {
    text-align: left;
    margin-left: 25px;
  }

  @media (min-width: $mobile-width) {
    text-align: center;
  }
}

.main-conteiner-height-media {
  @media (max-width: $mobile-width) {
    height: calc(98vh - 30px);
    padding: 5px;
  }

  @media (min-width: $mobile-width) {
    height: calc(80vh - 30px);
    padding: 20px;
  }
}

.big-main-container-props {
  @media (min-width: $mobile-width) {
    border: solid 1px $gray;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
  }
}

.media_button-padding {
  @media (min-width: $mobile-width) {
    padding: 15px 25px 15px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 5px 15px 5px 15px;
  }
}

.newsBox-width-media {
  @media (max-width: $mobile-width) {
    margin-left: 10px;
    width: 80%;
  }

  @media (min-width: $mobile-width) {
    margin-left: 30px;
    width: 25%;
  }
}

.media_arrow-icon-size {
  @media (max-width: $mobile-width) {
    width: 10px;
    top: 15px;
    left: 5px;
  }

  @media (min-width: $mobile-width) {
    width: 12px;
    top: 15px;
    left: 15px;
  }
}

.media_category-list {
  @media (max-width: $mobile-width) {
    width: 80% !important;
  }

  @media (min-width: $mobile-width) {
    width: 90% !important;
  }
}
