.o_header-button-padding {
  padding: 15px 25px 15px 25px;
}

.o_side-bar-menu {
  transition: margin-left 2s;

  &--inactive {
    margin-left: -200px;
  }
}

@keyframes buttonAnimation {
  0% {
    background-color: $white;
  }

  100% {
    background-color: $gray;
    color: $white;
  }
}

@keyframes loading-animation {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.button-animation-gray-fadeIn {
  animation-name: buttonAnimation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

.a_loading {
  animation-name: loading-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

.a_arrow {
  transition: transform 1s;

  &--down {
    transform: rotate(90deg);
  }
}

.a_category-box {
  height: 50px;
  transition: height 3s;

  &--expand {
    height: 350px;
  }
}
