// fill and coloring
.u_border-left-gray { border-left: solid 2px $lightGray; }
.u_border-right-gray { border-right: solid 2px $lightGray; }
.u_border-top-gray { border-top: solid 2px $lightGray; }
.u_border-bottom-gray { border-bottom: solid 2px $lightGray; }
.u_border-bottom-darkgray { border-bottom: solid 1px $darkGray; }
.u_border-gray { border: solid 1px $gray !important; }
.u_border-none { border: none; }
.u_border-light-gray { border: solid 1px $lightGray !important; }
.u_border-dark-gray { border: solid 1px $darkGray !important; }
.u_border-blue { border: solid 1px $blue !important; }
.u_backround-gray { background: $lightGray; }
.u_backround-white { background: $white; }
.u_backround-yellow { background: $yellow; }
.u_border-dark-blue { border: solid 1px $darkBlue !important; }
.u_border-radius-10px { border-radius: 10px; }
.u_border-radius-20px { border-radius: 20px; }
.u_border-radius-50pct { border-radius: 50%; }
.u_border-radius-small { border-radius: 5px; }
.u_opacity02 { opacity: 0.2; }

.u_fill-red { fill: $red; }
// dimensions
.u_height-100vh { height: 100vh; }
.u_height-30px { height: 30px; }
.u_height-25px { height: 25px; }
.u_calc-height-minus-30pct { height: calc(80vh - 30px); }
.u_mouse_over-text:hover { color: $red; }

.u_width-100pct { width: 100%; }
.u_width-90pct { width: 90%; }
.u_width-80pct { width: 80%; }
.u_width-60pct { width: 60%; }
.u_width-50pct { width: 50%; }
.u_width-40pct { width: 40%; }
.u_width-30pct { width: 30%; }
.u_width-25pct { width: 25%; }
.u_width-20pct { width: 20%; }
.u_width-10pct { width: 10%; }
.u_max-height300pcx { max-height: 300px; }
.u_max-height50vh { max-height: 50vh; }
.u_max-height-40px { max-height: 40px; }
.u_width-100px { width: 100px; }
.u_min-width-100px { min-width: 100px; }
.u_min-width-200px { min-width: 200px; }
.u_min-width-300px { min-width: 300px; }
.u_min-width-80vw { min-width: 80vw; }
.u_heigh-10vh { height: 10vh; }
.u_heigh-20vh { height: 20vh; }
.u_heigh-25vh { height: 25vh; }
.u_heigh-40vh { height: 40vh; }
.u_heigh-50vh { height: 50vh; }
.u_heigh-60vh { height: 60vh; }
.u_heigh-70vh { height: 70vh; }
.u_heigh-80vh { height: 80vh; }
.u_heigh-100vh { height: 100vh; }
.u_height-10pct { height: 10%; }
.u_height-20pct { height: 20%; }
.u_height-70pct { height: 70%; }
.u_height-100pct { height: 100%; }
.u_height-50px { height: 50px; }

// positioning
.u_clearfix {
  &::after,
  &::before {
    content: " ";
    display: table;
    height: 0;
    overflow: hidden;
  }

  &::after { clear: both; }
}
.u_float-left { float: left; }
.u_float-right { float: right; }
.u_margin-auto { margin: auto; }
.u_margin-top-small { margin-top: 0.5rem; }
.u_margin-top-2rem { margin-top: 2rem; }
.u_margin-bottom-2rem { margin-bottom: 2rem; }
.u_margin-right { margin-right: 0.5rem; }
.u_margin-left { margin-left: 0.5rem; }
.u_margin-right-30px { margin-right: 30px; }
.u_margin-left-10px { margin-left: 10px; }
.u_margin-left-30px { margin-left: 30px; }
.u_position-relative { position: relative; }
.u_position-absolute { position: absolute; }
.u_padding-5px { padding: 10px; }
.u_padding-20px { padding: 20px; }
.u_padding-25px { padding: 25px; }
.u_align-items-center { align-items: center; }
.u_vertical-align-middle { vertical-align: middle; }

.u_postition-top-left-null {
  top: 0;
  left: 0;
}

.u_postition-top-right-null {
  top: 0;
  right: 0;
}
.u_postition-bottom-null { bottom: 0; }
.u_margin-top-minus5px { margin-top: -5px; }
.u_margin-top-minus8px { margin-top: -8px; }
.u_display-inline { display: inline-block !important; }

//text decorating
.u_txt-color-red { color: $red; }
.u_txt-color-gray { color: $gray; }
.u_txt-color-lightGray { color: $lightGray; }
.u_txt-color-white { color: $white; }
.u_txt-small { font-size: 0.8rem; }
.u_txt-big { font-size: 1.2rem; }
.u_txt-huge { font-size: 1.8rem; }
.u_txt-align-left { text-align: left; }
.u_txt-align-right { text-align: right; }
.u_txt-align-center { text-align: center; }
.u_txt-bold { font-weight: 600; }

.u_overflow-scroll { overflow: scroll; }
.u_overflow-hidden { overflow: hidden; }
.u_nowrap { white-space: nowrap; }

.u_overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
}

.u_background-red { background-color: indianred; }
.u_background-green { background-color: rgb(146, 240, 177); }
.u_background-gray { background-color: $gray; }
.u_background-white { background-color: $white; }
.mouse-event-none { pointer-events: none; }
.coursor-pointer { cursor: pointer; }
.coursor-not-allowed { cursor: not-allowed; }
.u_hidden { display: none; }
